/***** initailize *****/
:root {
  --text--color: #141E12;
  --border-color: #A2AF9F;
  --border-radius: 15px;
  --background-color: #EFEEE3;
  --button-hover-color: #96afb84b;
  --button-red-color: #FF5A7D;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Hi Melody', cursive;
}

/***** index *****/
.container {
  width: 98%;
  max-width: 600px;
  height: 800px;
  overflow: hidden;
  margin: 8vh auto;
  border: 0.4em solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text--color);
  background-color: var(--background-color);
}

.container > h1 {
  text-align: center;
  font-size: 6.5rem;
}

.inputbox {
  width: 100%;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.txt-input {
  width: 60%;
  margin-right: 1em;
  padding: 0.2em 0.7em;
  font-size: 2rem;
  border: 0.15em solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
}

.add-btn {
  width: 20%;
  padding: 0.2em 0.7em;
  font-size: 2rem;
  border: 0.15em solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--background-color);
}

.add-btn:hover {
  background-color: var(--button-hover-color);
}

.list {
  width: 100%;
  height: 70%;
  overflow: auto;
}

.list-item {
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-content {
  width: 75%;
  min-width: 65%;
  margin-left: 1em;
  font-size: 1.5rem;
}

.set-btns {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  width: 65%;
  font-size: 1.5rem;
  border: 0.16em solid var(--border-color);
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--background-color);
}

.edit-btn:hover {
  background-color: var(--button-hover-color);
}

.remove-btn {
  width: 65%;
  font-size: 1.5rem;
  border: 0.16em solid var(--border-color);
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--background-color);
}

.remove-btn:hover {
  color: white;
  background-color: var(--button-red-color);
}

.done-btn {
  width: 40%;
  height: 1.7em;
  margin-right: 0.5em;
}